*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EEE;
}

.Card{
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2);
    img{
        width: 100%;
        height: 47vh;
        background-color: aqua;
    }
}

.Barra{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding: 5px;
    h1{
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 5px;
    }
    p{
        font-size: 1rem;
        margin-bottom: 5px;
    }
}

.Botoes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    button{
        width: 50px;
        height: 50px;
        padding: 10px;
        border: none;
        outline: none;
        color: #FFF;
        cursor: pointer;
        border-radius: 10px;
        background-color: #121212;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-duration: 0.5s;
        &:hover{
            background-color: #212121;
        }
    }
    i{
        font-size: 1.5rem;
    }
}